body{
  font-family: "Roboto";
}
 h3, h5{
  font-weight: 200;
}
h4{
  font-weight: 300;
  font-size: 28px;
}

h2, h1{
  font-weight: 300;
}

h5{
  font-size: 20px;
}

nav{
  padding-right: 20px;
  padding-left: 10px;
}

.logo{
  width: 170px;
  padding: 10px 20px;
}

#header-bg{
    background-image: url(../images/bg.png);
    background-position: center bottom;
}
.header{
  width: 100%;
}

@media screen and (min-width: 600px) {
  .header h1{
    margin-top: 100px;
  }
}

@media screen and (max-width: 600px){
  .header h1{
    margin-top: -50px;
  }
}

.header img{
  max-width: 100%;
}

.header .container{
  padding-top: 100px;
  color: white;
}

.bg-mobile{
  max-width: 100%;
}
